# CineCut Studio Environment Configuration Example
FIREBASE_API_KEY=AIzaSyCXFpqzck7YVQOhtLWdyZDAawNhxzU0Bng
GOOGLE_WEB_CLIENT_ID=174317441213-2nc6n2pf4ec2nv8ufh03lfqmsmmpieee.apps.googleusercontent.com
GROQ_API_KEY=your_groq_api_key_here
UPI_ID=robintyagi@fam
